*.iml
/MyMusic/.gradle
/MyMusic/gradle
/MyMusic/gradlew
/MyMusic/gradlew.bat
/MyMusic/local.properties
/MyMusic/.idea
/MyMusic/.DS_Store
/MyMusic/build
/MyMusic/captures
/MyMusic/.externalNativeBuild
/MyMusic/build
/MyMusic/app/build
/MyMusic/myplayer/build
/MyMusic/myplayer/.externalNativeBuild


/JniThread/.gradle
/JniThread/gradle
/JniThread/gradlew
/JniThread/gradlew.bat
/JniThread/local.properties
/JniThread/.idea
/JniThread/.DS_Store
/JniThread/build
/JniThread/captures
/JniThread/app/.externalNativeBuild
/JniThread/build
/JniThread/app/build


